.rating_selection {
    // text-align: center;
    label:first-of-type {
        display: none;
    }

    input[type='radio'],
    span {
        display: none;
    }

    label {
        cursor:pointer;
    }
    
    label:before {
        display: inline-block;
        content: "★";
        font-size: 20px;
        letter-spacing: 3px;
        color: #e9cd10;
    }

    input:checked + label ~ label:before {
        color: #aaa;
        }

    input:hover 
        label[for]:before {
            color: #e9cd10; 
        }

    label:hover ~ label:before {
        color: #aaa;
        }
     }


    .rated_stars {
        color: #e9cd10;
    }

    .unrated_stars {
        color: #aaa;
    }
   

// .rating_selection {
//     text-align: center;
//    }
//    .rating_selection label:first-of-type {
//     display: none;
//    }
//    .rating_selection input[type=‘radio’],
//    .rating_selection span {
//     display: none;
//    }
//    .rating_selection label {
//     cursor: pointer;
//    }
//    .rating_selection label:before {
//     display: inline-block;
//     content: “★”;
//     font-size: 80px;
//     letter-spacing: 10px;
//     color: #e9cd10;
//    }
//    .rating_selection input:checked + label ~ label:before {
//     color: #aaa;
//    }
//    .rating_selection:hover label[for]:before {
//     color: #e9cd10;
//    }
//    .rating_selection:hover label:hover ~ label:before {
//     color: #aaa;
//    }