.rating_selection {
    display:flex;
    // text-align: center;
    label:first-of-type {
        display: none;
    }

    input[type='radio'],
    span {
        display: none;
    }

    label {
        cursor:pointer;
    }
    
    label:before {
        display: inline-block;
        content: "★";
        font-size: 20px;
        letter-spacing: 3px;
        color: #e9cd10;
    }

    input:checked + label ~ label:before {
        color: #aaa;
        }

    input:hover 
        label[for]:before {
            color: #e9cd10; 
        }

    label:hover ~ label:before {
        color: #aaa;
        }
     }


    .rated_stars {
        color: #e9cd10;
    }

    .unrated_stars {
        color: #aaa;
    }
    
$primary_font : 'Roboto Slab', serif ;;

// BREWERY SHOW PAGE *********
#brewery-show-page-container {
    margin-top: 5%;
    font-family: $primary-font ;
}

#review-row {
    font-family: $primary_font;
}

#brewery-all-reviews-header h3 {
    display: inline;
}