html, body {
    height: 100%;
    width: 100%;
}

// navbar styling 

.fa-beer:before {
    padding-right: 10px;
}

.navbar-brand {
    font-family: 'Pattaya', sans-serif;
    letter-spacing: 2px;
}

//home page stlying

#home {
    background: url("beer_on_bar.jpeg") no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
}

.landing-text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding-bottom: 17%;
    color: white;
}

#landing-header-main {
    font-size: 4rem;
    font-family: 'Fascinate Inline', cursive;
    letter-spacing: 3px;
}

.search-input {
    width: 22%;
    border-radius: 5px;
    text-align: center;
    border:none;
    font-size: 1.1rem;
}


// Search Results Styling 
#add-to-queue-btn {
    float: right;
    position: relative;
    left: -30%;
}