html, body {
    height: 100%;
    width: 100%;
}

$primary_font : 'Fascinate Inline', cursive;
$second_font : 'Roboto Slab', serif ;


// navbar styling 

.fa-beer:before {
    padding-right: 10px;
}

.navbar-brand {
    font-family: 'Pattaya', sans-serif;
    letter-spacing: 2px;
}

//home page stlying

#home {
    background: url("beer_on_bar.jpeg") no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
}

.landing-text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding-bottom: 8%;
    color: white;
}

#landing-header-main {
    font-size: 4rem;
    font-family: $primary_font;
    letter-spacing: 3px;
}

.search-input {
    width: 22%;
    border-radius: 5px;
    text-align: center;
    border:none;
    font-size: 1.1rem;
}


// Search Results Styling 

#add-to-queue-btn {
    display: inline;
}

#search-results {
    display: inline;
}

.card {
    margin-bottom: 10px;
    width: 60%;
    margin: 10px auto;
    box-shadow: inset 0 0 7px #000000;
}

.card a {
    text-decoration: underline !important;
    color: black;
}

.results-container {
    text-align: center;
    color: black;
}

.search-links {
    list-style-type: none;
    padding: .5em;
}

#search_header {
    font-family: $second_font;
    font-size: 3em;
}

#brewery-name {
    font-family: $second_font;
    padding-top: .5em;
}
