$second_font : 'Roboto Slab', serif ;
// profile page styling
#profile-container {
    text-align: center;
    width: 23rem;
}

#profile-icon {
    padding-top: 1rem;
}

#profile-header {
 text-align: center;
 font-family: $second-font;
 padding-top: 2rem;
}

#profile-session-links a {
    color: white;
}




