$second_font : 'Roboto Slab', serif ;

#overall-profile-container {
    margin-top: 5%;
}

#profile-container {
    text-align: center;
    width: 23rem;
}

#profile-icon {
    padding-top: 1rem;
}

#profile-header {
 text-align: center;
 font-family: $second-font;
 padding-top: 2rem;
}

#profile-session-links a {
    color: white;
}


//SHOW USER PAGE - PROFILE***
#profile-row {
    height: 100vh;
}

#show-user-header-username {
    font-family: $second_font;
}

#show-user-profile-container {
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
    border-right: 3px solid #D3D3D3;
}

#show-user-profile {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 10%;
    color: black;
}

#user-profile-container {
    text-align: left;
    font-family: $second-font;
}

//SHOW USER PAGE - REVIEW***

#show-user-reviews-container {
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
    // border: 5px solid black;
    font-family: $second_font;
}

#show-review-profile {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    // border: 7px solid yellow;
    position: absolute;
    top: 10%;
    color: black;
}

//SHOW USER PAGE- BREWQUEUE ****
#show-user-brequeue-container {
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
    font-family: $second_font;
    border-left: 3px solid #D3D3D3;
}

#show-brewqueue-profile {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 10%;
    color: black;
}

.profile-col-headers {
    color: black;
}