// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$primary-font: 'Pattaya', sans-serif;
$second_font : 'Roboto Slab', serif ;

// NEW SESSION STYLING ************

//new session styling for picture 
#session-picture-container {
    background: url(https://images.unsplash.com/photo-1545878587-bd777063c414?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80) no-repeat center center fixed;
    display: table;
    position: relative;
    width: 100%;
    // background-attachment: cover;
    height: 58vw;
}

#new-session-text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: white;
    text-shadow: 5px 3px 3px #2D333F;    
}

#new-session-header {
    font-family: $second-font;
}

#new-session-lead {
    width: 50%;
    margin: 0 auto;
    font-family: $second_font;
}


//new session form styling
#new-session-form-container {
    width: 70%;
    margin: 0 auto;
    vertical-align: middle;
    padding-top: 30%;
}

#new-session-main-text {
    font-family: $second-font;
    text-align: center;
}

//container for the links under the new session from

#new-session-form-links-ctnr {
    text-align: center;
}


// EDIT PROFILE STLYING ***********
#edit-profile-container1 {
    display: table;
    position: relative;
    height: 100%;
    width: 55%;
    margin: 0 auto;
}

#edit-profile-container2 {
    display: table-cell;
    vertical-align: middle;
}

#edit-profile-container2 h1 {
    display: inline;
    margin-left: 5%;
}

#edit-profile-container2 i {
    display: inline;
}

#edit-text-container {
    margin-bottom: 4%;
}

// CREATE NEW USER FORM STLYING *********
//form for new user styling
#new-user-form-container {
    width: 70%;
    margin: 0 auto;
    vertical-align: middle;
    padding-top: 12%;
}

#new-user-form-container label {
    padding-top: 2%;
}

#new-user-header {
    display: inline;
    padding-left: 5%;
    font-family: $second-font;
}

// picture for new user syling
#new-user-picture-container {
    background: url(https://images.unsplash.com/photo-1523529364348-e930dcb39642?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80) no-repeat center center fixed;
    display: table;
    position: relative;
    width: 100%;
    height: 58vw;
}

#new-user-text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: white;
}

#new-user-header-2 {
    font-family: $second_font;
    font-size: 3em;
    text-shadow: 5px 5px 3px #2D333F;
}

#new-user-lead {
    width: 70%;
    margin: 0 auto;
    font-family: $second_font;
    text-shadow: 5px 5px 3px #2D333F;
}

$second_font : 'Roboto Slab', serif ;

#overall-profile-container {
    margin-top: 5%;
}

#profile-container {
    text-align: center;
    width: 23rem;
}

#profile-icon {
    padding-top: 1rem;
}

#profile-header {
 text-align: center;
 font-family: $second-font;
 padding-top: 2rem;
}

#profile-session-links a {
    color: white;
}

#edit_review_profile_button a {
    color:black !important;
    text-decoration: underline;
}
