<div id="review-form-container">
    <div id="review-form">
        <h1><%= "Edit your review for #{@review.reviewee.name}: "%></h1>
            <%= render partial: "shared/review_form", locals: {user: @review.reviewer, brewery: @review.reviewee } %>
    </div>
</div>


